.foter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 800px;
  position: relative;
  bottom: 70px;
}
@media screen and (max-width: 480px) {
  .foter {
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding-left: 80px;
    padding-top: 1100px;
  }
}
